# 基本结构
snippet c_c     控制器
	class `expand("%:r")` extends BaseController {
	    ${0}
	}
snippet c_m     模型
	class `expand("%:r")` extends BaseModel {
	    ${0}
	}
# 简便操作
snippet c_p     获取传递的参数
	$this->_Param['${0}']
snippet c_pp    获取传递的参数
	$this->_Param${0}
snippet c_pd    获取传递的data参数
	$this->_Param['data']['${0}']
snippet c_mm    调用模型
	_M()->${0}
snippet c_ss    显示模版
	$this->DisPlay();
# 辅助方法
