snippet /       单行注释
	// ${0}
snippet //      多行注释
	/*${0}*/
snippet -       分隔注释
	// -------------------------------${0}
# 代码复用
snippet im      导入库文件
	#import('dart:${1}');${0}
# 函数
snippet main    主函数
	main () {
	  ${0}
	}
snippet f       定义函数
	${1:f_name} (${2}) {
	  ${0}
	}
snippet ff      匿名函数
	(${1}) {${0}}
# 输入输出
snippet p       输出
	print(${0});
# 其他
snippet v       声明变量
	var ${0};
snippet n       新建对象
	new ${0}
