# -----------------------------------------
# AngularJS 1.x

snippet ng_       angular
	angular${0}
snippet ng_mo     module
	module${0}
snippet ng_co     component
	component${0}
snippet ng_c      controller
	controller${0}
snippet ng_t      template
	template${0}
snippet ng_tu     templateUrl
	templateUrl${0}
snippet ng_sc     $scope
	$scope${0}
snippet ng_ht     $http
	$http${0}
snippet ng_ct     $ctrl
	$ctrl${0}

# -----------------------------------------
# AngularJS 2.x
