snippet _         DOM1
	<${0} />
snippet __        DOM2
	<${1:}>${0}</$1>
snippet _r        React
	React${0}
snippet _rd       ReactDOM
	ReactDOM${0}
snippet _p        props
	props${0}
snippet _ch       children
	children${0}
snippet _s        state
	state${0}
snippet _ss       setState
	setState(${0})
