priority -50

snippet OracleForms "OracleForms Gitignore Template"
### OracleForms ###
# Compiled Form Modules
*.fmx

# Compiled Menu Modules
*.mmx

# Compiled Pre-Linked Libraries
*.plx
$0
endsnippet
