priority -50

snippet PlayFramework "PlayFramework Gitignore Template"
### PlayFramework ###
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
$0
endsnippet
