/vim7*
/vim8*
/*.vim

/vimfiles/.vim
/vimfiles/init.vim
/vimfiles/.init.vim-rplugin~
/vimfiles/view

/vimfiles/bundle/YouCompleteMe
/vimfiles/bundle/YCM-Generator

tags
tags-*
!/vimfiles/bundle/doczh/doc/tags-cn

Thumbs.db
.DS_Store
*.pyc
*.cache
*.swp
