snippet Elisp Gitignore Template
        ### Elisp ###
        # Compiled
        *.elc
        
        # Packaging
        .cask
        
        # Backup files
        *~
        
        # Undo-tree save-files
        *.~undo-tree
        ${0}
