snippet Momentics Gitignore Template
        ### Momentics ###
        # Built files
        x86/
        arm/
        arm-p/
        translations/*.qm
        
        # IDE settings
        .settings/
        ${0}
