snippet Vagrant Gitignore Template
        ### Vagrant ###
        # General
        .vagrant/
        
        # Log files (if you are creating logs in debug mode, uncomment this)
        # *.logs
        ${0}
