snippet VisualStudioCode Gitignore Template
        ### VisualStudioCode ###
        .vscode/*
        !.vscode/settings.json
        !.vscode/tasks.json
        !.vscode/launch.json
        !.vscode/extensions.json
        ${0}
