{* normal comment without @annotations *}
{** annotated comment, @see string $robots hehehe! *}
{* TODO abcde *}

{macro here}
{ not a macro}
{define #block}
{include "file.latte"}
{$phpVar}

<a href="{link Presenter:action}">{$var}</a>
<tag n:attrib="{$xyz}">
<tag n:attrib="$xyz">

<script type="text/javascript">
  document.write("Hello World!");
  if (1 === true) { console.log("blable"); }
</script>

<style type="text/css">
p.special
{
  color: #0f0;
  border: 1px solid #f00;
  margin: 10px;
}

#body { font-size: 20px; }
</style>

<?php
  echo "abcde";
  phpinfo();
  foreach ($xyz as $x => $yz)
  {
    print_r($yz);
    echo ",";
  }
?>
